<div>
  <h4 #productName>{{product.product.name}}:</h4>
  <ul style="list-style-type:disc">
    <li>Details: {{product.product.description}}</li>
    <li>Category: {{product.product.category}}</li>
    <li>Price: {{product.product.price}}</li>
    <li>Available quantity: {{product.quantity}}</li>
  </ul>

  <button [disabled]="product.quantity === 0" type="button"
          class="btn btn-primary"
          (click)='onBuyProduct(product)'>Buy Product</button>
</div>
<p> --------------------------------------------------------------------------- </p>
